<div ng-controller="FooterController" class="bg-grey footer-play">
	<div class="container">
    <div class="col-xs-12 col-sm-7 text-container">
      <h3>Play with the IoT Foundation dashboard</h3>
	    <!--p class="text-bold">{{ deviceCount }} devices were connected in the past 24 hours</p-->
      <p>See a live instance of the IBM Internet of Things Foundation service running in IBM Bluemix. Watch it process data of your devices.</p>
      <a target="_blank" href="https://{{iotforg}}.internetofthings.ibmcloud.com/dashboard" class="btn btn-default">Open the demo dashboard</a>
    </div>
    <div class="col-xs-12 col-sm-5 image-div">
      <img src="assets/img/images_2.png" />
    </div>
  </div>
</div><!-- /.container -->
