<div ng-include="'app/components/play/lead/leadView.html'"></div>
<div class="background-box"></div>
<div class="action-pane">
  <div class="container">
    <div class="main">
      <div class="row">
        <div class="col-xs-12">
          <a class="back-link" ui-sref="play.connect">
            <div class="panel panel-default">
              <div class="panel-heading panel-play">
                <span class="step-number">1</span>
                <span>Select your device</span>
                <div class="selection-check"><object data="assets/img/play-icon-check-light.svg" type="image/svg+xml"/></div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a class="back-link" ui-sref="play.device">
            <div class="panel panel-default" ui-sref="play.device">
              <div class="panel-heading panel-play">
                <span class="step-number">2</span>
                <span>Enter your smartphone information</span>
                <div class="selection-check"><object data="assets/img/play-icon-check-light.svg" type="image/svg+xml"/></div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading panel-play">
              <span class="step-number">3</span>
              <span>View live data from your smartphone</span>
            </div>
            <div class="panel-body">
              <div class="qr-code-container" ng-hide="hideDeviceUrl">
                <qrcode data="{{gotoUrl}}" error-correction-level="M" size="100" version="4"></qrcode>
                <h3>{{gotoUrl}}</h3>
              </div>
              <div class="device-text">
                <h4>Go to this URL on your smartphone to start the connection</h4>
                <div>
                  <small>Your smartphone device will connect to the Internet of Things Foundation service and start sending live data.</small>
                </div>
              </div>
              <div class="chart-visualizations">
                <div class="row">
                  <div class="col-xs-12 col-md-4">
                    <live-phone render-data="{{livePhoneData}}"></live-phone>
<!-- <live-phone render-data="livePhoneData"></live-phone> -->
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <line-chart max-value="60" metadata="{{accelChartMetaData}}" min-value="-40" render-data="{{accelDataPoint}}"></line-chart>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <line-chart max-value="80" metadata="{{vibrationChartMetaData}}" min-value="0" render-data="{{vibrationDataPoint}}" threshold="{{vibrationThreshold}}"></line-chart>
                  </div>
                </div>
                <div class="row rules-container" ng-show="hideDeviceUrl">
                  <attribute-rule attribute-limit="{{vibrationThreshold}}" id="rule1" metadata="{{vibrationAttributeRuleMetadata}}" payload="{{vibrationDataPoint}}"></attribute-rule>
                  <a class="btn btn-default" href="https://play.staging.internetofthings.ibmcloud.com/dashboard/#/devices/browse/drilldown/iot-phone/{{deviceId}}" style="width: inherit;" target="_blank">See this device in the demo dashboard</a>
                </div>
              </div>
            </div>
            <br>
            <span class="graph-note" ng-hide="hideDeviceUrl">Visualizations will become active when the connection has been started by using the URL above on the smartphone device.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

<div ng-include="'app/components/play/footer/footerView.html'"></div>

<!-- <div class="panel-heading panel-play">
  <div class="container">
    <div class="col-xs-12 col-sm-8 left-text">
      <span>Now that you have seen the value with your own device, why not take things to the next level and create your own app with a free Bluemix trial?</span>
    </div>
    <div class="col-xs-12 col-sm-3 right-button-link">
      <a class="next-tab-link" ng-click="sendMetricsTryNow()" ui-sref="try.deploy">Try now</a>
    </div>
  </div>
</div>
</div> -->
